.git
.github
.vscode
ng-app
api/venv
api/.env
api/userdata.txt
api/__pycache__
api/app/__pycache__
database/__pycache__
database/alembic/__pycache__
database/alembic/versions/__pycache__
node_modules
__pycache__
venv
.env
docker-compose*.yml
README.md
DEPLOYMENT.md
*.svg
*.png
*.jpg
*.xcf
foo.html
