__pycache__
venv/
.env
.env.local
.angular/
.pytest_cache/
.vscode
.flake8
api/.env
api/venv/
api/__pycache__/
ng-app/node_modules/
ng-app/.angular/
ng-app/dist/
database/__pycache__/
node_modules
.env.local
.env.prod

