<div style="margin-bottom: 4rem;"></div>
<grid>
  <grid-row>
    <grid-col span="8" lg="0">
    </grid-col>
    <grid-col span="8" lg="24">
      <div class="card">
        <h1>Reset Password</h1>
        <fb-cva-text-input
          [label]="'Email'"
          [id]="'email-input'"
          [name]="'email-input'"
          [placeholder]="'Email'"
          [maxLength]="40"
          [required]="true"
          [autocomplete]="'off'"
          [(ngModel)]="resetPasswordInput.username"
        ></fb-cva-text-input>
        <div style="margin-bottom: 1rem;"></div>
        <button type="button" (click)="requestResetPassword()" class="btn btn-success" [disabled]="loading || !resetPasswordInput.username">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
          Reset Password
        </button>
      </div>
    </grid-col>
    <grid-col span="8" md="0">
    </grid-col>
  </grid-row>
</grid>

