<div style="margin-bottom: 4rem;"></div>
<grid>
  <grid-row>
    <grid-col span="8" lg="0">
    </grid-col>
    <grid-col span="8" lg="24">
      <div class="card">
        <form>
          <h1>Sign in</h1>
          <fb-cva-text-input
            [label]="'Email'"
            [id]="'email-input'"
            [name]="'email-input'"
            [placeholder]="'Email'"
            [maxLength]="40"
            [required]="true"
            [autocomplete]="'off'"
            [(ngModel)]="username"
          ></fb-cva-text-input>
          <div style="margin-bottom: 1rem;"></div>
          <fb-cva-text-input
            [label]="'Password'"
            [id]="'password-input'"
            [name]="'password-input'"
            [placeholder]="'Password'"
            [maxLength]="25"
            [required]="true"
            [autocomplete]="'off'"
            [type]="showPassword ? 'text' : 'password'"
            [(ngModel)]="password"
          ></fb-cva-text-input>
          <div style="margin-bottom: 1rem;"></div>
          <button type="submit" (click)="signIn()" class="btn btn-success" [disabled]="loading || !username || !password">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
            Sign in
          </button>
        </form>
        @if ((vm$ | async)?.signInErrorMessage) {
          <div style="margin-bottom: 1rem;"></div>
          <h2>There was a problem signing you in</h2>
          <p style="color: red;">{{ (vm$ | async)?.signInErrorMessage }}</p>
          <p>If the issue persists, contact an administrator.</p>
        }
        <div style="margin-bottom: 1rem;"></div>
        <h2>Forgot your password?</h2>
        <a [routerLink]="['/auth/request-reset-password']">Reset your password</a>
        <h2>Fed up with passwords?</h2>
        <a [routerLink]="['/auth/passwordless-sign-in']">Sign in without a password</a>
      </div>
    </grid-col>
    <grid-col span="8" md="0">
    </grid-col>
  </grid-row>
</grid>

