

.todo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(25,118,210,0.6);
    transition: 0.3s;
    margin: 1rem 0;
    background: white;

    & > * {
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
    }
}

.button {
    width: 120px; 
    height: 40px; 
    background-color: #1976d2; 
    color: white;

    &:hover:not(:disabled) {
        background-color: #59a6f2;
        transform: scale(1.05, 1.05);
    }

    &:disabled {
        background-color: #a6a6a6;
    }

}

.postButton {
    margin-left: 1rem;
}

input {
    width: 400px;
    height: 2rem;
    font-size: 18px;
}


